* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #CE0400,#5C0100);
}
dialog {
    position: fixed;              
    top: 50%;                     
    left: 50%;                    
    transform: translate(-50%, -50%); 
    border: none;                
    border-radius: 10px;         
    padding: 20px 30px;          
    background: rgba(255,255,255,0.9); 
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    text-align: center;
    width: 300px;
    height: 140px;
    overflow: hidden;
}


dialog::backdrop {
  background: transparent;       
  backdrop-filter: blur(5px);    
}

.modalStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modalMessage{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 20px auto 0 auto;
    padding-left: 5px;
}

.closeBtn{
    font: bold;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    display: block;
    margin: 20px auto 0 auto
}

h1 {
    letter-spacing: 3px;
    text-align: center;
    color:white;
    text-shadow: 5px black;
    
}
.letterShadow{
    -webkit-text-stroke: 0.5px #000000;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px ;
    align-items: center;
}

hr{
    width: 21rem;
    border: none;
    border-top: 3px solid #f7f7f7;
    margin-bottom: 14px;
    
}

h2{
    color: white;
    letter-spacing: 3px;
    text-shadow: 5px black;
    -webkit-text-stroke: 0.5px #000000;
}

.gameBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gameBoard button{
    background: #f7f7f7;
    border-color: black;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;

}